html,
body{
    width: 100%;
    height: 100%;
}
.form-horizontal .control-label{
    text-align: left;
    margin-left: 10px;
}
.col-sm-4{
    width: 27%;
}
.reginster_header{
    font-weight: 800;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #FF6600;
}
.yzm{
    width: 90px;
    display: inline-block;
}
.get{
    width: 100px;
    display: inline-block;
    float: right;
    background-color: #337ab7;
    color: #fff;
}
.alert-danger{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.alert{
    padding: 0;
}
.photo{
    padding: 0 12px 0 0;
}
input[type=file]{
    height: 100%;
    outline: none;
}

.tippassword {
    font-size: 12px;
    color: #666;
    margin-bottom: -5px;
}

/* 上传照片框的背景 */
.file-drop-zone-title{
    background: url(../images/photo.png) no-repeat #FDFDFD;
    background-position: 100%;
}