<script>
    token=localStorage.getItem("token")
    if(token==null || token==undefined){
    location.href="login-registe/login.html";
    }
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>河南豫储养殖供应链管理系统</title>
    <link href="../images/logo.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/sweet-alert/sweet-alert.min.css">
    <link rel="stylesheet" href="../assets//toastr/toastr.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-fileinput/fileinput.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
    .glyphicon-plus{
        margin-left: 10px;
        font-size: 10px;
    }
    </style>
</head>
<body>
<div class="inner">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <div class="news">
                            <img src="../images/default.png">
                            <span>您好!</span>
                            <span class="username"></span>
                            <span class="dropdown">
                                <span class="caret" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="rever_password">
                                            <span class="glyphicon glyphicon-cog draw"></span>修改密码</a>
                                    </li>
                                    <li>
                                            <a href="#" id="logout">
                                            <span class="glyphicon glyphicon-log-out draw"></span>退出</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default content_panel">
        <div class="panel-body header_title">
            <a href="#" class="firstbackhistory" data-id="7"> <i class="glyphicon glyphicon-share-alt"></i></a>
            肉鸡销售
            <button type="button" class="btn btn-info header_right">新增<i class="glyphicon glyphicon-plus"></i></button>
        </div>
        <div class="panel-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right header_keyword" style="padding:10px 0">
                                <label for="afterDate">至:</label>
                                <input type="date" id="afterDate" name="afterDate">
                                <input type="button" class="btn btn-info buttonDate" value="查询">
                            </div>
                            <div class="pull-right header_keyword" style="padding:10px">
                                <label for="beforeDate">开始日期:</label>
                                <input type="date" id="beforeDate" name="beforeDate">
                            </div>
                            <div class="pull-right header_keyword" style="padding:10px 0">
                                <label for="people">经办人:</label>
                                <input type="text" id="people" name="people">
                                <input type="button" class="btn btn-info btn_found" value="查询">
                            </div>
                            <table class="table table-bordered tableAll" id="chickenSellTable">
                            </table>
                            <ul class="pagination pagination-sm pull-right">
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mengban_over"></div>
    <div class="form_show add_form" style="display:none">
        <form id="newUser" name="newUser">
            <p class="bianji form_add" style="display:none">新增</p>
            <p class="bianji form_eimt" style="display:none">编辑</p>
            <div class="form-group">
                <label for="outnumber">销售编号<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="text" class="form-control" id="outnumber" name="outnumber" placeholder="销售编号">
            </div>
            <div class="form-group">
                <label for="date">销售日期<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="date" class="form-control" id="date" name="date">
            </div>
            <div class="form-group">
                <label for="operator">经办人<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="text" class="form-control" id="operator" name="operator" placeholder="经办人">
            </div>
            <div class="form-group">
                <label for="customername">客户名称<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="text" class="form-control" id="customername" name="customername" placeholder="客户名称">
            </div>
            <div class="form-group">
                <label for="phone">联系电话<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="联系电话">
            </div>
            <div class="form-group">
                <label for="receivablemoney">应收金额<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="text" class="form-control" id="receivablemoney" name="receivablemoney" placeholder="应收金额" readonly>
            </div>
            <div class="form-group">
                <label for="receivedmoney">实收金额<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="text" class="form-control" id="receivedmoney" name="receivedmoney" placeholder="实收金额">
            </div>
            <div class="form-group">
                <label for="needmoney">欠收金额<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="text" class="form-control" id="needmoney" name="needmoney" placeholder="欠收金额" readonly>
            </div>
            <div class="form-group">
                <label for="remark">备注</label>
                <input type="text" class="form-control" id="remark" name="remark" placeholder="备注">
            </div>
            <div class="right_button pull-right">
                <a href="#" class="btn btn-default open_down">关闭<i class="glyphicon glyphicon-remove draw_show"></i></a>
                <a href="#" class="btn btn-default preserve preserve_add" style="display:none">保存<i class="glyphicon glyphicon-file draw_show"></i></a>
                <a href="#" class="btn btn-default preserve preserve_emit" style="display:none">保存<i class="glyphicon glyphicon-file draw_show"></i></a>
            </div>
        </form>
    </div>
    <div class="form_show add_draw" style="display:none">
        <form id="drawFrom" name="drawFrom">
            <div class="form-group">
                <label for="input-1" class="control-label">入库单图片<i class="glyphicon glyphicon-asterisk text-danger"></i></label>
                <input type="file" class="file" id="input-1" name="pic" placeholder="入库单图片">
            </div>
            <div class="right_button pull-right">
                <a href="#" class="btn btn-default open_down">关闭
                    <i class="glyphicon glyphicon-remove draw_show"></i>
                </a>
                <a href="#" class="btn btn-default preserve draw_add" style="display:none">保存
                    <i class="glyphicon glyphicon-file draw_show"></i>
                </a>
            </div>
        </form>
    </div>
    <div class="form_show outline_time" style="display:none">
        <form>
            <p class="bianji">编辑</p>
            <div class="form-group">
                <label for="exampleInputEmail1">原始密码</label>
                <input type="password" class="form-control" id="beforepwd" placeholder="原始密码">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">新密码<span class="toppwd">(密码格式为6-16位字母和数字或特殊符号两者组合)</span></label>
                <input type="password" class="form-control" id="newpwd" placeholder="新密码">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">确认新密码</label>
                <input type="password" class="form-control" id="lastpwd" placeholder="确认新密码">
            </div>
            <div class="right_button pull-right">
                <button type="submit" class="btn btn-default open_down">关闭
                    <i class="glyphicon glyphicon-remove draw_show"></i>
                </button>
                <a type="button" class="btn btn-default preserve preservepwd">保存
                    <i class="glyphicon glyphicon-file draw_show"></i>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../assets/jquery.min.js"></script>
<script src="../assets/bootstrap/bootstrap.min.js"></script>
<script src="../assets/template-native.js"></script>
<script src="../assets/sweet-alert/sweet-alert.min.js"></script>
<script src="../assets/toastr/toastr.min.js"></script>
<script src="../assets/moment/moment.min.js"></script>
<script src="../assets/bootstrap-fileinput/fileinput.min.js"></script>
<script src="../assets/bootstrap-fileinput/fileinput_locale_zh.js"></script>
<script src="../assets/big-small/jquery.mousewheel.min.js"></script>
<script src="../assets/big-small/zoom-marker.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/chicken/chicken_sell.js"></script>
<script type="text/template" id="chickenSellTel">
    <tr class="activeTr tr_header">
        <td>销售编号</td>
        <td>销售日期</td>
        <td>经办人</td>
        <td>客户名称</td>
        <td>联系电话</td>
        <td>应收金额</td>
        <td>实收金额</td>
        <td>欠收金额</td>
        <td>入库单</td>
        <td>备注</td>
        <td>操作</td>
    </tr>
    <% for(var i=0; i< rows.length; i++){ %>
    <tr class="tr_header">
        <td><%=rows[i].outnumber%></td>
        <td><%=rows[i].date%></td>
        <td><%=rows[i].operator%></td>
        <td><%=rows[i].customername%></td>
        <td><%=rows[i].phone%></td>
        <td><%=rows[i].receivablemoney%></td>
        <td><%=rows[i].receivedmoney%></td>
        <td><%=rows[i].needmoney%></td>
        <td class="images">
            <img src="<%=rows[i].pic%>">
            <div class="Imgsmall">
                <img src="<%=rows[i].pic%>" draggable="false">
                <i class="glyphicon glyphicon-remove drawerror"></i>
            </div>
        </td>
        <td><%=rows[i].remark%></td>
        <td class="cion_splice">
            <a href="#" class="glyphicon glyphicon-arrow-up draw" data-id="<%=rows[i].id%>" data-toggle="tooltip" data-placement="top" title="上传图片"></a>
            <a href="#" class="glyphicon glyphicon-new-window detail" data-id="<%=rows[i].id%>" data-toggle="tooltip" data-placement="top" title="售鸡管理明细"></a>
            <a href="#" class="glyphicon glyphicon-pencil emit" data-id="<%=rows[i].id%>" data-toggle="tooltip" data-placement="top" title="编辑" style="margin: 0 10px;"></a>
            <a href="#" class="glyphicon glyphicon-trash chickensell_del" data-id="<%=rows[i].id%>" data-toggle="tooltip" data-placement="top" title="删除"></a>
        </td>
    </tr>
    <% } %>
    <tr class="data_num">
        <td colspan="11">没有查询到相关信息</td>
    </tr>
</script>
<script type="text/template" id="usernameTel">
    <span>
      <<%= res%>>
    </span>
</script>
<script>
//  初始化上传图片汉字
initFileInput();
function initFileInput() {
    $("#input-1").fileinput({//#file-5是input框的id
       language: 'zh'//设置语言为中文
     })
  }
</script>
</html>