<script>
    token=localStorage.getItem("token")
    if(token==null || token==undefined){
    location.href="login-registe/login.html";
    }
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>河南豫储养殖供应链管理系统</title>
    <link href="../images/logo.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets//toastr/toastr.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/common.css">
    <style>
    .glyphicon-plus{
        margin-left: 10px;
        font-size: 10px;
    }
    </style>
</head>
<body>
<div class="inner">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <div class="news">
                            <img src="../images/default.png">
                            <span>您好!</span>
                            <span class="username"></span>
                            <span class="dropdown">
                                <span class="caret" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="rever_password">
                                            <span class="glyphicon glyphicon-cog draw"></span>修改密码</a>
                                    </li>
                                    <li>
                                            <a href="#" id="logout">
                                            <span class="glyphicon glyphicon-log-out draw"></span>退出</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default content_panel">
        <div class="panel-body header_title">
            <a href="#" class="firstbackhistory" data-id="5"> <i class="glyphicon glyphicon-share-alt"></i></a>
            肉鸡进鸡详情
        </div>
        <div class="panel-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <div class="pull-right header_keyword" style="padding:10px 0">
                                <label for="kindoff">品种:</label>
                                <input type="text" id="kindoff" name="kindoff">
                                <input type="button" class="btn btn-info btn_found" value="查询">
                            </div>
                            <div class="pull-right header_keyword" style="padding:10px 0">
                                <label for="afterDate">至:</label>
                                <input type="date" id="afterDate" name="afterDate">
                                <input type="button" class="btn btn-info buttonDate" value="查询" style="margin-right:10px">
                            </div>
                            <div class="pull-right header_keyword" style="padding:10px 0">
                                <label for="beforeDate">进鸡日期:</label>
                                <input type="date" id="beforeDate" name="beforeDate">
                            </div>
                            <table class="table table-bordered tableAll" id="chickTable">
                            </table>
                            <ul class="pagination pagination-sm pull-right">
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mengban_over"></div>
    <div class="form_show outline_time" style="display:none">
        <form>
            <p class="bianji">编辑</p>
            <div class="form-group">
                <label for="exampleInputEmail1">原始密码</label>
                <input type="password" class="form-control" id="beforepwd" placeholder="原始密码">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">新密码<span class="toppwd">(密码格式为6-16位字母和数字或特殊符号两者组合)</span></label>
                <input type="password" class="form-control" id="newpwd" placeholder="新密码">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">确认新密码</label>
                <input type="password" class="form-control" id="lastpwd" placeholder="确认新密码">
            </div>
            <div class="right_button pull-right">
                <button type="submit" class="btn btn-default open_down">关闭
                    <i class="glyphicon glyphicon-remove draw_show"></i>
                </button>
                <a type="button" class="btn btn-default preserve preservepwd">保存
                    <i class="glyphicon glyphicon-file draw_show"></i>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../assets/jquery.min.js"></script>
<script src="../assets/bootstrap/bootstrap.min.js"></script>
<script src="../assets/template-native.js"></script>
<script src="../assets/toastr/toastr.min.js"></script>
<script src="../assets/moment/moment.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/chicken/roujiDetail.js"></script>
<script type="text/template" id="roujiDetailTel">
    <tr class="activeTr tr_header">
        <td>鸡苗批次号</td>
        <td>进鸡日期</td>
        <td>品种</td>
        <td>数量</td>
        <td>单价</td>
        <td>应付金额</td>
        <td>实付金额</td>
        <td>欠付金额</td>
        <td>供应商</td>
        <td>鸡舍号</td>
        <td>鸡舍类别</td>
        <td>投放量</td>
    </tr>
    <% for(var i=0; i< rows.length; i++){ %>
    <tr class="tr_header">
        <td><%=rows[i].buychicken.buynumber%></td>
        <td><%=rows[i].buychicken.date%></td>
        <td><%=rows[i].buychicken.varieties%></td>
        <td><%=rows[i].buychicken.num%></td>
        <td><%=rows[i].buychicken.price%></td>
        <td><%=rows[i].buychicken.payable%></td>
        <td><%=rows[i].buychicken.payamount%></td>
        <td><%=rows[i].buychicken.amountowed%></td>
        <td><%=rows[i].buychicken.supplier%></td>
        <td><%=rows[i].chickenshare.housenumber%></td>
        <td><%=rows[i].chickenshare.type%></td>
        <td><%=rows[i].chickenshare.num%></td>
    </tr>
    <% } %>
    <tr class="data_num">
        <td colspan="12">没有查询到相关信息</td>
    </tr>
</script>
<script type="text/template" id="usernameTel">
    <span>
      <<%= res%>>
    </span>
</script>
</html>